# Pandas (–ß–∞—Å—Ç—å 3)

> üöÄ –í —ç—Ç–æ–π –ø—Ä–∞–∫—Ç–∏–∫–µ –Ω–∞–º –ø–æ–Ω–∞–¥–æ–±—è—Ç—Å—è: `numpy==1.26.4, pandas==2.2.2` 

> üöÄ –£—Å—Ç–∞–Ω–æ–≤–∏—Ç—å –≤—ã –∏—Ö –º–æ–∂–µ—Ç–µ —Å –ø–æ–º–æ—â—å—é –∫–æ–º–∞–Ω–¥—ã: `%pip install numpy==1.26.4 pandas==2.2.2`

## –°–æ–¥–µ—Ä–∂–∞–Ω–∏–µ

* [–°–æ—Ö—Ä–∞–Ω–µ–Ω–∏–µ / –∑–∞–≥—Ä—É–∑–∫–∞ –¥–∞–Ω–Ω—ã—Ö (—Ä–∞–±–æ—Ç–∞ —Å CSV)](#–°–æ—Ö—Ä–∞–Ω–µ–Ω–∏–µ-/-–∑–∞–≥—Ä—É–∑–∫–∞-–¥–∞–Ω–Ω—ã—Ö-—Ä–∞–±–æ—Ç–∞-—Å-CSV)
  * [–ó–∞–¥–∞–Ω–∏–µ - —á—É—Ç–æ–∫ —Å–∞–º–æ—Å—Ç–æ—è—Ç–µ–ª—å–Ω–æ–≥–æ —Ä–∞–∑–±–æ—Ä–∞](#–ó–∞–¥–∞–Ω–∏–µ---—á—É—Ç–æ–∫-—Å–∞–º–æ—Å—Ç–æ—è—Ç–µ–ª—å–Ω–æ–≥–æ-—Ä–∞–∑–±–æ—Ä–∞)
* [–ó–∞–¥–∞—á–∫–∏](#–ó–∞–¥–∞—á–∫–∏)

–í —ç—Ç–æ–º –Ω–æ—É—Ç–±—É–∫–µ:
- CSV —Ñ–∞–π–ª—ã
- –ö—Ç–æ –Ω–µ —Ä–∞–±–æ—Ç–∞–µ—Ç —Ç–æ—Ç –µ—Å—Ç: –∑–µ–º–ª—é –ø—Ä–∏ –≤—Å—Ç—Ä–µ—á–µ —Å —Ç—Ä—É–¥–Ω–æ—Å—Ç—è–º–∏. –ó–∞–¥–∞—á–∫–∏

In [1]:
import pandas as pd
import numpy as np

## –°–æ—Ö—Ä–∞–Ω–µ–Ω–∏–µ / –∑–∞–≥—Ä—É–∑–∫–∞ –¥–∞–Ω–Ω—ã—Ö (—Ä–∞–±–æ—Ç–∞ —Å CSV)

–û–¥–Ω–∏–º –∏–∑ –≤–∞–∂–Ω—ã—Ö –∏–Ω—Å—Ç—Ä—É–º–µ–Ω—Ç–æ–≤ –≤ —Ä–∞–±–æ—Ç–µ —Å —Ç–∞–±–ª–∏—Ü–∞–º–∏ —è–≤–ª—è–µ—Ç—Å—è –≤–æ–∑–º–æ–∂–Ω–æ—Å—Ç—å —Å–æ—Ö—Ä–∞–Ω–∏—Ç—å —Ä–µ–∑—É–ª—å—Ç–∞—Ç—ã —Ä–∞–±–æ—Ç—ã –≤ —Ñ–∞–π–ª –∏–ª–∏ –∑–∞–≥—Ä—É–∑–∏—Ç—å –¥–∞–Ω–Ω—ã–µ –∏–∑ —Ñ–∞–π–ª–∞. –ü–æ–ª—å–∑–æ–≤–∞—Ç—å—Å—è –º—ã –±—É–¥–µ–º —Ñ–æ—Ä–º–∞—Ç–æ–º CSV, –∫–æ—Ç–æ—Ä—ã–π —è–≤–ª—è–µ—Ç—Å—è —Ç–µ–∫—Å—Ç–æ–≤—ã–º —Ñ–æ—Ä–º–∞—Ç–æ–º –¥–ª—è —Ö—Ä–∞–Ω–µ–Ω–∏—è —Ç–∞–±–ª–∏—Ü—ã. –§–æ—Ä–º–∞—Ç –ø—Ä–µ–¥—Å—Ç–∞–≤–ª—è–µ—Ç —Å–æ–±–æ–π —Ç–µ–∫—Å—Ç–æ–≤—ã–µ —Å—Ç—Ä–æ–∫–∏, –∫–∞–∂–¥–∞—è –∫–æ–ª–æ–Ω–∫–∞ —Ä–∞–∑–¥–µ–ª—è–µ—Ç—Å—è —Ä–∞–∑–¥–µ–ª–∏—Ç–µ–ª–µ–º (–∑–∞–ø—è—Ç–∞—è, —Ç–æ—á–∫–∞ –∑–∞–ø—è—Ç–æ–π –∏ –¥—Ä.), –ø–æ—ç—Ç–æ–º—É –µ–≥–æ –ø—Ä–æ—Å—Ç–æ –ø–æ–Ω—è—Ç—å –∏ –æ–±—Ä–∞–±–∞—Ç—ã–≤–∞—Ç—å, —Ç–∞–∫ –∫–∞–∫ –Ω–µ —Ç—Ä–µ–±—É–µ—Ç—Å—è –Ω–∏–∫–∞–∫–æ–≥–æ —Å–ø–µ—Ü–∏–∞–ª—å–Ω–æ–≥–æ –ø—Ä–æ—Ç–æ–∫–æ–ª–∞ –¥–ª—è –ø–æ–Ω–∏–º–∞–Ω–∏—è.

–î–ª—è —Å–æ—Ö—Ä–∞–Ω–µ–Ω–∏—è –¥–∞–Ω–Ω—ã—Ö –∏–º–µ–µ—Ç—Å—è –º–µ—Ç–æ–¥ `DataFrame.to_csv()`:

In [2]:
import string

df = pd.DataFrame(
    data=np.random.randint(0, 10, size=(15, 3)), 
    columns=["x1", "x2", "x3"],
    index=list(string.ascii_uppercase)[:15]
)
df.head(3)

   x1  x2  x3
A   5   5   5
B   8   4   8
C   5   7   6

In [3]:
# –î–ª—è —Å–æ—Ö—Ä–∞–Ω–µ–Ω–∏—è –∑–∞–¥–∞–µ—Ç—Å—è –ø—É—Ç—å –¥–æ —Ñ–∞–π–ª–∞
df.to_csv("my_first_file.csv")

–ß—Ç–æ–±—ã —É–±–µ–¥–∏—Ç—å—Å—è –≤ —Ä–∞–±–æ—Ç–µ –º–µ—Ç–æ–¥–∞ –Ω–∞–π–¥–∏—Ç–µ —Ñ–∞–π–ª —Ä—è–¥–æ–º —Å –Ω–æ—É—Ç–±—É–∫–æ–º –∏ –æ—Ç–∫—Ä–æ–π—Ç–µ –µ–≥–æ —á–µ—Ä–µ–∑ —Ä–µ–¥–∞–∫—Ç–æ—Ä.

> –ü—Ä–∏ —Ä–∞–±–æ—Ç–µ –≤ Google Colab —Å–ª–µ–≤–∞ –µ—Å—Ç—å –≤–∫–ª–∞–¥–∫–∞, –∫–æ—Ç–æ—Ä–∞—è –ø–æ–∫–∞–∑—ã–≤–∞–µ—Ç —Ñ–∞–π–ª—ã –Ω–∞ —Å–µ—Ä–≤–µ—Ä–µ.

–ü—Ä–∏ –æ—Ç–∫—Ä—ã—Ç–∏–∏ –º–æ–∂–Ω–æ —É–≤–∏–¥–µ—Ç—å —á–µ—Ç—ã—Ä–µ –∫–æ–ª–æ–Ω–∫–∏:
- –ö–æ–ª–æ–Ω–∫–∞ –∏–Ω–¥–µ–∫—Å–∞;
- –¢—Ä–∏ –∫–æ–ª–æ–Ω–∫–∏ –∏–∑ –Ω–∞—à–∏—Ö –¥–∞–Ω–Ω—ã—Ö.

–¢–µ–ø–µ—Ä—å, –∫–æ–≥–¥–∞ –º—ã –∏–º–µ–µ–º —Ñ–∞–π–ª CSV –≤ —Å–∏—Å—Ç–µ–º–µ - –º–æ–∂–µ–º –∏—Å–ø—ã—Ç–∞—Ç—å —Ñ—É–Ω–∫—Ü–∏—é –∑–∞–≥—Ä—É–∑–∫–∏ `pd.read_csv()`:

In [4]:
df = pd.read_csv("my_first_file.csv")
df.head(3)

  Unnamed: 0  x1  x2  x3
0          A   5   5   5
1          B   8   4   8
2          C   5   7   6

–í–∏–¥–Ω–∞ –æ–¥–Ω–∞ —è–≤–Ω–∞—è –ø—Ä–æ–±–ª–µ–º–∞ - —É –Ω–∞—Å –ø–æ—è–≤–∏–ª–∞—Å—å –∫–æ–ª–æ–Ω–∫–∞, –∫–æ—Ç–æ—Ä–∞—è –¥–æ–ª–∂–Ω–∞ –±—ã—Ç—å –∏–Ω–¥–µ–∫—Å–æ–º, –Ω–æ –æ–Ω–∞ —Å—Ç–∞–ª–∞ –Ω–æ–≤–æ–π –∫–æ–ª–æ–Ω–∫–æ–π, –∞ –∏–Ω–¥–µ–∫—Å—ã —Å–æ–∑–¥–∞–ª–∏—Å—å –Ω–æ–≤—ã–µ. –î–ª—è —Ä–µ—à–µ–Ω–∏—è –ø—Ä–æ–±–ª–µ–º—ã –ø—Ä–∏ –∑–∞–≥—Ä—É–∑–∫–µ –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ —è–≤–Ω–æ –∑–∞–¥–∞—Ç—å, –∫–∞–∫–∞—è –∫–æ–ª–æ–Ω–∫–∞ —Å—á–∏—Ç–∞–µ—Ç—Å—è –∏–Ω–¥–µ–∫—Å–æ–º:

In [5]:
df = pd.read_csv("my_first_file.csv", index_col=0)
df.head(3)

   x1  x2  x3
A   5   5   5
B   8   4   8
C   5   7   6

–¢–µ–ø–µ—Ä—å –≤—Å–µ –æ—Ç–ª–∏—á–Ω–æ, –∏ –¥–∞–Ω–Ω—ã–µ –∑–∞–≥—Ä—É–∑–∏–ª–∏—Å—å.

### –ó–∞–¥–∞–Ω–∏–µ - —á—É—Ç–æ–∫ —Å–∞–º–æ—Å—Ç–æ—è—Ç–µ–ª—å–Ω–æ–≥–æ —Ä–∞–∑–±–æ—Ä–∞

–†–∞–∑–±–µ—Ä–∏—Ç–µ—Å—å –≤ –∞—Ä–≥—É–º–µ–Ω—Ç–∞—Ö `DataFrame.to_csv()` –∏ —Å–æ—Ö—Ä–∞–Ω–∏—Ç–µ –¥–∞–Ω–Ω—ã–µ –≤ —Ñ–∞–π–ª —Ç–∞–∫, —á—Ç–æ–±—ã –∏–Ω–¥–µ–∫—Å –≤ —Ñ–∞–π–ª –Ω–µ —Å–æ—Ö—Ä–∞–Ω—è–ª—Å—è.

In [6]:
df = pd.DataFrame(
    data=np.random.randint(0, 10, size=(15, 3)), 
    columns=["x1", "x2", "x3"],
    index=list(string.ascii_uppercase)[:15]
)
df.head(3)

df.to_csv('no_index.csv', index=False)
df = pd.read_csv('no_index.csv')
df.head(3)

   x1  x2  x3
0   9   5   7
1   1   0   9
2   1   2   5

## –ó–∞–¥–∞—á–∫–∏

–°–æ–∑–¥–∞–π—Ç–µ —Ñ—Ä–µ–π–º —Å —á–µ—Ç—ã—Ä–µ–º—è –∫–æ–ª–æ–Ω–∫–∞–º–∏:
- –∫–æ–ª–æ–Ω–∫–∞ —Å –∏–º–µ–Ω–∞–º–∏ (—Ç–∏–ø - –æ–±—ä–µ–∫—Ç—ã);
- –∫–æ–ª–æ–Ω–∫–∞ —Å —Å—Ç–∞–∂–µ–º —Ä–∞–±–æ—Ç—ã (—Ç–∏–ø - –≤–µ—â–µ—Å—Ç–≤–µ–Ω–Ω—ã–π);
- –∫–æ–ª–æ–Ω–∫–∞ —Å –≤–æ–∑—Ä–∞—Å—Ç–æ–º (—Ç–∏–ø - —Ü–µ–ª–æ—á–∏—Å–ª–µ–Ω–Ω—ã–π);
- –∫–æ–ª–æ–Ω–∫–∞ —Å –Ω–∞–∑–≤–∞–Ω–∏–µ–º –ª—é–±–∏–º–æ–≥–æ —Ü–≤–µ—Ç–∞ (—Ç–∏–ø - –∫–∞—Ç–µ–≥–æ—Ä–∏–∞–ª—å–Ω—ã–π).

–ò–º–µ–Ω–∞ –∫–æ–ª–æ–Ω–æ–∫ –∏ –∑–Ω–∞—á–µ–Ω–∏—è –ª—é–±—ã–µ, –Ω–µ –º–µ–Ω–µ–µ —Ç—Ä–µ—Ö –∑–∞–ø–∏—Å–µ–π (—Å—Ç—Ä–æ–∫) –≤ —Ñ—Ä–µ–π–º–µ.

In [7]:
name=pd.Series(['Volkswagen','Audi','Porshe','Skoda','Lamborgini'], dtype=object)
exp=pd.Series([3.5,5.2,2.8,4,6.1], dtype=np.float32)
age=pd.Series([22,25,23,24,28], dtype=np.int32)
color=pd.Series(['violet','blue','yellow','green','red'],dtype=pd.CategoricalDtype)
df=pd.DataFrame({
    'name':name,
    'exp':exp,
    'age':age,
    'color':color
})
df.info()
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    5 non-null      object
 1   exp     5 non-null      float32
 2   age     5 non-null      int32
 3   color   5 non-null      category
dtypes: category(1), float32(1), int32(1), object(1)
memory usage: 425.0+ bytes

C:\Users\anton\AppData\Local\Temp\ipykernel_37916\3906081441.py:4: UserWarning: Instantiating CategoricalDtype without any arguments.Pass a CategoricalDtype instance to silence this warning.
  color=pd.Series(['violet','blue','yellow','green','red'],dtype=pd.CategoricalDtype)

         name  exp  age   color
0  Volkswagen  3.5   22  violet
1        Audi  5.2   25    blue
2      Porshe  2.8   23  yellow
3       Skoda  4.0   24   green
4  Lamborgini  6.1   28     red

–í—ã–±–µ—Ä–∏—Ç–µ —á–∏—Å–ª–∞ –≤ —Ä—è–¥—É `ds1`, –∫–æ—Ç–æ—Ä—ã—Ö –Ω–µ—Ç –≤ —Ä—è–¥—É `ds2`:

> –ü–æ—á–∏—Ç–∞–π—Ç–µ –∏ –ø—Ä–∏–º–µ–Ω–∏–µ –º–µ—Ç–æ–¥ `Series.isin()`

In [8]:
ds1 = pd.Series([1, 2, 3, 4, 5])
ds2 = pd.Series([4, 5, 6, 7, 8, 1, 9])

out=ds1.isin(ds2)
ds1[out==False]

1    2
2    3
dtype: int64

–û—Å—Ç–∞–≤—å—Ç–µ –≤ —Ä—è–¥—É –¥–≤–∞ –Ω–∞–∏–±–æ–ª–µ–µ —á–∞—Å—Ç—ã—Ö –∑–Ω–∞—á–µ–Ω–∏—è, –æ—Å—Ç–∞–ª—å–Ω—ã–µ –∑–∞–º–µ–Ω–∏—Ç–µ –∑–Ω–∞—á–µ–Ω–∏–µ–º "–î—Ä—É–≥–æ–µ":

<details>
<summary>–ü–æ–¥—Å–∫–∞–∑–∫–∞ 1</summary>

–î–ª—è –æ–ø—Ä–µ–¥–µ–ª–µ–Ω–∏—è –Ω–∞–∏–±–æ–ª–µ–µ —á–∞—Å—Ç—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π –≤–æ—Å–ø–æ–ª—å–∑—É–π—Ç–µ—Å—å –º–µ—Ç–æ–¥–æ–º `Series.value_counts()`
</details>

<details>
<summary>–ü–æ–¥—Å–∫–∞–∑–∫–∞ 2</summary>

–ß—Ç–æ–±—ã –ø–æ–ª—É—á–∏—Ç—å –Ω–∞–∏–±–æ–ª–µ–µ —á–∞—Å—Ç—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è –º–æ–∂–Ω–æ –≤–æ—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å—Å—è —Ä–µ–∑—É–ª—å—Ç–∞—Ç–æ–º `Series.value_counts()` - –∞—Ç—Ä–∏–±—É—Ç–æ–º `Series.index`
</details>

<details>
<summary>–ü–æ–¥—Å–∫–∞–∑–∫–∞ 3</summary>

–ü–æ–ª—É—á–∏–≤ –Ω–∞–∏–±–æ–ª–µ–µ —á–∞—Å—Ç—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è, –º–æ–∂–Ω–æ –∏–Ω–¥–µ–∫—Å–∏—Ä–æ–≤–∞—Ç—å –¥—Ä—É–≥–∏–µ —á–µ—Ä–µ–∑ –º–∞—Å–∫—É –º–µ—Ç–æ–¥–∞ `Series.isin()`
</details>

In [9]:
ds = pd.Series([2, 2, 2, 4, 4, 4, 3, 1, 1, 1, 1, 4])

out=list(ds.value_counts().index)
for i in range (len(ds)):
    if (ds[i]!=out[0])&(ds[i]!=out[1]):
        ds[i]='–¥—Ä—É–≥–æ–µ'
ds

C:\Users\anton\AppData\Local\Temp\ipykernel_37916\1844623917.py:6: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '–¥—Ä—É–≥–æ–µ' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  ds[i]='–¥—Ä—É–≥–æ–µ'

0     –¥—Ä—É–≥–æ–µ
1     –¥—Ä—É–≥–æ–µ
2     –¥—Ä—É–≥–æ–µ
3          4
4          4
5          4
6     –¥—Ä—É–≥–æ–µ
7          1
8          1
9          1
10         1
11         4
dtype: object

–°–¥–µ–ª–∞–π—Ç–µ –∫–∞–∂–¥—É—é –ø–µ—Ä–≤—É—é –±—É–∫–≤—É –≤ —Å–ª–æ–≤–∞—Ö —Ä—è–¥–∞ –∑–∞–≥–ª–∞–≤–Ω–æ–π:

In [10]:
ds = pd.Series(["how", "to", "use", "pandas?"])

def capital(x):
    return str.capitalize(x)
ds=ds.apply(capital)
ds

0        How
1         To
2        Use
3    Pandas?
dtype: object

–í—ã–±–µ—Ä–∏—Ç–µ –∑–∞–ø–∏—Å–∏ —Å –º–∞–∫—Å–∏–º–∞–ª—å–Ω—ã–º –∑–Ω–∞—á–µ–Ω–∏–µ–º –ø–æ –∫–æ–ª–æ–Ω–∫–µ `x1`:

In [11]:
df = pd.DataFrame(
    np.random.randint(0, 4, size=(15, 3)), 
    columns=['x1', 'x2', 'x3']
)
mask=df['x1'].max()
df[df['x1']==mask]

    x1  x2  x3
5    3   2   1
9    3   3   1
12   3   2   3

–í—ã–≤–µ–¥–∏—Ç–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø—Ä–æ–ø—É—Å–∫–æ–≤ –≤ –∫–∞–∂–¥–æ–π –∫–æ–ª–æ–Ω–∫–µ –¥–∞–Ω–Ω—ã—Ö:

In [12]:
df = pd.read_csv("https://raw.githubusercontent.com/AleksDevEdu/ml_edu/master/datasets/Cars93_miss.csv")

df.isna().sum()

Manufacturer           4
Model                  1
Type                   3
Min.Price              7
Price                  2
Max.Price              5
MPG.city               9
MPG.highway            2
AirBags               38
DriveTrain             7
Cylinders              5
EngineSize             2
Horsepower             7
RPM                    3
Rev.per.mile           6
Man.trans.avail        5
Fuel.tank.capacity     8
Passengers             2
Length                 4
Wheelbase              1
Width                  6
Turn.circle            5
Rear.seat.room         4
Luggage.room          19
Weight                 7
Origin                 5
Make                   3
dtype: int64

–ó–∞–º–µ–Ω–∏—Ç–µ –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è –≤ –∫–æ–ª–æ–Ω–∫–µ `Min.Price` —Å—Ä–µ–¥–Ω–∏–º –∑–Ω–∞—á–µ–Ω–∏—è–º –ø–æ —ç—Ç–æ–π –∫–æ–ª–æ–Ω–∫–µ:

In [13]:
df = pd.read_csv("https://raw.githubusercontent.com/AleksDevEdu/ml_edu/master/datasets/Cars93_miss.csv")

df['Min.Price'].fillna(df['Min.Price'].mean(), inplace=True)
df.isna().sum()

C:\Users\anton\AppData\Local\Temp\ipykernel_37916\3065233376.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Min.Price'].fillna(df['Min.Price'].mean(), inplace=True)

Manufacturer           4
Model                  1
Type                   3
Min.Price              0
Price                  2
Max.Price              5
MPG.city               9
MPG.highway            2
AirBags               38
DriveTrain             7
Cylinders              5
EngineSize             2
Horsepower             7
RPM                    3
Rev.per.mile           6
Man.trans.avail        5
Fuel.tank.capacity     8
Passengers             2
Length                 4
Wheelbase              1
Width                  6
Turn.circle            5
Rear.seat.room         4
Luggage.room          19
Weight                 7
Origin                 5
Make                   3
dtype: int64

–û—Ç—Å–æ—Ä—Ç–∏—Ä—É–π—Ç–µ –∏ –≤—ã–≤–µ–¥–∏—Ç–µ —Ñ—Ä–µ–π–º —Å –∫–æ–ª–æ–Ω–∫–∞–º–∏ –≤ –∞–ª—Ñ–∞–≤–∏—Ç–Ω–æ–º –ø–æ—Ä—è–¥–∫–µ:

In [14]:
df = pd.DataFrame(np.random.randint(0, 10, size=(5, 6)), columns=list("fbecda"))

df_sorted=sorted(df.columns, reverse=True)
df=df.reindex(df_sorted, axis=1)
df

   f  e  d  c  b  a
0  7  7  2  8  3  3
1  8  8  6  2  2  1
2  8  2  5  4  4  8
3  6  0  3  5  9  5
4  1  5  1  4  7  8

–û—Ç–æ–±—Ä–∞–∑–∏—Ç–µ –∫–∞–∂–¥—É—é —Ç—Ä–∏–Ω–∞–¥—Ü–∞—Ç—É—é –∑–∞–ø–∏—Å—å –≤–æ —Ñ—Ä–µ–π–º–µ –∏ —Ç–æ–ª—å–∫–æ –∫–æ–ª–æ–Ω–∫–∏ `Manufacturer`, `Model`, `Type`:

In [15]:
df = pd.read_csv("https://raw.githubusercontent.com/AleksDevEdu/ml_edu/master/datasets/Cars93_miss.csv")

cols=['Manufacturer','Model','Type']
df_cols=df.loc[:,cols]
df_cols
new=df_cols.iloc[range(0, len(df.index), 20)]
new

   Manufacturer    Model     Type
0         Acura  Integra    Small
20     Chrysler  LeBaron  Compact
40        Honda  Prelude   Sporty
60      Mercury   Cougar  Midsize
80       Subaru   Loyale    Small

–ü–æ–ª—É—á–∏—Ç–µ —Ä—è–¥, –∫–æ—Ç–æ—Ä—ã–π —Å–æ–¥–µ—Ä–∂–∏—Ç –¥–ª–∏–Ω—ã —Å—Ç—Ä–æ–∫:

In [16]:
ds = pd.Series(['how', 'to', 'use', 'pandas?'])
new=[]
for i in range(0,len(ds)):
    new=np.append(new,len(ds[i]))
print(new)
result=pd.Series(new,dtype=np.int64)
result

[3. 2. 3. 7.]

0    3
1    2
2    3
3    7
dtype: int64